{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/inscription.css')}}">{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center pb-3 text-uppercase">Inscription</h1>
    <p class="text-center rounded p-2 pb-3 font-weight-bold">Les champs précédés d'un astérisque <span
            class="text-danger">*</span> sont obligatoires.</p>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {'label': 'Pseudo'}) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password.first) }}
    {{ form_row(registrationForm.password.second) }}
    {{ form_row(registrationForm.jeux) }}
    {{ form_row(registrationForm.ville) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn btn-primary d-block col-8 mx-auto">Terminer l'inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}