{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/inscription.css')}}">{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Inscription</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {'label': 'Pseudo'}) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password.first) }}
    {{ form_row(registrationForm.password.second) }}
    {{ form_row(registrationForm.ville) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button class="btn btn-primary d-block col-8 mx-auto">Terminer l'inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}