{% extends 'base.html.twig' %}

{% block title %}Géolocalisation{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/geolocalisation.css')}}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
<link rel="stylesheet" href="{{asset('css/MarkerCluster.css')}}">
<link rel="stylesheet" href="{{asset('css/MarkerCluster.Default.css')}}">
{% endblock %}

{% block body %}
<div class="container">

    <div id="mapid"></div>

</div>
{% endblock %}

{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

<script src="{{asset('js/leaflet.markercluster.js')}}"></script>

<script>
    // génération de la map, des tiles, du cluster de markers et de la variable qui accueille les coordonnées de tous les users
    var mymap = L.map('mapid').setView([48.950037, 1.931647], 4);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoidWx0cmFqZXQiLCJhIjoiY2sxbHl1NzFiMGE1aDNkdGNlNWQ5aDRuYSJ9.Jj2x03vpcxH5__ZUuD4rsA'
    }).addTo(mymap);

    var markers = L.markerClusterGroup();
    let addressPoints = ["test"];
</script>

<!-- boucle sur chaque user pour récupérer ses coordonnées et les push dans addressPoints -->
<!-- TODO : trouver un autre moyen de faire communiquer PHP et JS, impossible pour le moment de récupérer correctement les coordonnées -->
{% for user in users %}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        let array = '{{ user.coordonnees }}'.split(", ");
        let lat = parseFloat(array[0]);
        let lon = parseFloat(array[1]);
        let title = '{{ user.username }}';

        // console.log(lat + ", " + lon);
        // var marker = L.marker([lat, lon]).addTo(mymap);

        addressPoints.push([lat, lon, title]);
    })
</script>
{% if user.id == 71 %}
<script>
    window.addEventListener("DOMContentLoaded", () => {
        for (var i = 1; i < addressPoints.length; i++) {
            var a = addressPoints[i];
            var title = a[2];
            var marker = L.marker(new L.LatLng(a[0], a[1]));
            markers.addLayer(marker);
        }
        mymap.addLayer(markers);
    })
</script>
{% endif %}
{% endfor %}

{% endblock %}