{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block stylesheets %}

<style>
    main {
        display: flex;
        flex-direction: column;
    }

    .messagerie-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: auto;
    }
</style>

{% endblock %}

{% block body %}
<h1 class="text-center">{{ id }}.</h1>
<div class="container border py-2 d-flex flex-column flex-grow-1">
    <div class="messagerie-container flex-grow-1"></div>
    {{ form_start(form) }}
    {{ form_row(form.content) }}
    <button class="btn btn-primary col-4 d-inline-block">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
    const discussion = document.querySelector(".messagerie-container");

    function displayMessage(message) {
        console.log(message);

        let divMessage = document.createElement('p');
        let divDate = document.createElement('small');

        divMessage.className = message.userPost == "{{ id }}" ?
            'align-self-start border'
            :
            'align-self-end border text-right'
            ;
        divDate.className = 'd-block';

        divMessage.textContent = message.content;
        divDate.textContent = new Date(message.time.date).toLocaleString("fr-FR", {hour12: false});

        divMessage.appendChild(divDate);
        discussion.appendChild(divMessage);
    }

    function getMessages() {
        $.ajax({
            url: "{{ path('getmessages', {id: id}) }}",
            type: 'GET',
            dataType: 'json',
            success: json => {

                console.log(json);

                discussion.innerHTML = "";

                $.each(json, (index, objet) => {
                    displayMessage(objet);
                })
            }
        })
    }

    function sendMessage() {
        $.ajax({
            url: "{{ path('postmessage', {id: id}) }}",
            data: $("form").serializeArray(),
            type: 'POST',
            dataType: 'json',
            success: json => {
                console.log(json);
                $('form input').val('');
            }
        });
    }

    document.querySelector('form').addEventListener('submit', event => {

        event.preventDefault();
        sendMessage();

    })

    setInterval(getMessages, 1000);
    // getMessages();
</script>
{% endblock %}