<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--OpenGraph-->
    <meta name="Nom du site"
        content="Connectez-vous et trouver des gens près de chez vous qui joue au même jeu que vous pour communiquer et jouer ensemble">
    <meta property="og:title" content="Nom du site">
    <meta property="og:type" content="Communautaire">
    <meta property="og:url" content="#">
    <meta property="og:image" content="#">

    <!--Twitter Card-->
    <meta name="twitter:card" content="Nom du site">
    <meta name="twitter:site" content="???">
    <meta name="twitter:creator" content="@sylviemorin">
    <meta name="twitter:creator" content="@quentinlagadou">
    <meta name="twitter:title" content="???">
    <meta name="twitter:description"
        content="Connectez-vous et trouver des gens près de chez vous qui joue au même jeu que vous pour communiquer et jouer ensemble">
    <meta name="twitter:image" content="#">
    <link rel="stylesheet" href={{ asset ('/css/style.css') }}>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <title>{% block title %}Logo + Titre su site{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="base_navbar navbar navbar-expand-md">
        <a href="/" class="navbar-brand">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="fas fa-bars"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('index')}}">Accueil</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('profil', {id: app.user.id})}}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('geoloc')}}">Géolocalisation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('deconnexion')}}">Déconnexion</a>
                </li>
                {% for role in app.user.roles %}
                {% if role == "ROLE_ADMIN" %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu bg-dark text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{path('admin_user')}}">User</a>
                        <a class="dropdown-item" href="{{path('admin_jeu')}}">Jeu</a>
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('inscription')}}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message | raw }}
        </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message | raw }}
        </div>
        {% endfor %}

        <h1 class="logo display-1 text-center"><span class="w">W</span>alk <span class="and">&</span><img
                src="{{ asset('images/PROJET_GO_LOGO_&.png') }}" alt="logo" class=""> <span class="m">M</span>eet</h1>

        {% block body %}{% endblock %}
    </main>

    <!-- <span class="and">&</span> -->

    <footer>
        <div class="base_footer">
            <ul class="list-unstyled list_footer">
                <li><a class="" href="{{path('mentions_legales')}}">Mentions légales</a></li>
                <li><a class="" href="{{path('plan_du_site')}}">Plan du site</a></li>
                <li><a class="" href="{{path('contact')}}">Contact</a></li>
                <li><a class="" href="{{path('cgu')}}">CGU</a></li>
            </ul> <br>
            <p><i class="far fa-copyright"></i> Copyright Team ProjetGo</p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>