{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="container profil">

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.txt_profil) }}
    {{ form_row(form.jeux) }}
    <p style="font-size: 70%; color: purple;">Les changements de jeux ne sont pas encore pris en compte dans cette version.</p>
    <button class="btn">Envoyer</button>
    {{ form_end(form) }}

</div>

{% endblock %}
